.rotatating-text-container {
  font-weight: bold;
  width: 100%;
  display: block;
}
.rotatating-text__list {
  /* height + padding */
  height: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .rotatating-text__list {
    height: 113px;
  }
}
.rotatating-text__list-item {
  color: white;
  height: 120px;
  margin-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-min-content;
  width: min-content;
}
.rotatating-text__list-item--animatate {
  animation: show 10s ease-in-out infinite;
}
.rotatating-text__list-item--bg-green {
  color: #22c179;
}
.rotatating-text__list-item--bg-blue {
  color: #2775f3;
}
.rotatating-text__list-item--bg-red {
  color: #ef3b5d;
}

/* (height inner box + padding) * item count*/
@keyframes show {
  0% {
    margin-top: -776.46px;
  }
  5% {
    margin-top: -517.64px;
  }
  33% {
    margin-top: -517.64px;
  }
  38% {
    margin-top: -258.82px;
  }
  66% {
    margin-top: -258.82px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: var(--gap);
  -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
          mask-image: linear-gradient(var(--mask-direction, to right), hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
