<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrière - Formulaire</title>

    <!-- SEO -->
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Carrière - Formulaire">
    <meta name="description"
        content="Postulez dès maintenant pour une carrière passionnante en tant qu'expert backend chez Mimon. Rejoignez notre équipe de professionnels compétents et contribuez au développement de solutions innovantes. Nous offrons un environnement dynamique où vous pourrez mettre en pratique vos compétences en programmation et collaborer avec d'autres experts du domaine. Postulez dès maintenant et faites partie de notre aventure Mimon !">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">

    <!-- Favicons -->
    <link rel="icon" href="./../../../public/images/mimon_logo.png" sizes="32x32">
    <link rel="icon" href="./../../../public/images/mimon_logo.png" sizes="192x192">
    <link rel="apple-touch-icon" href="./public/images/mimon_logo.png">

    <!-- Custom styles - Used to load tailwind css and utilities classes -->
    <link rel="stylesheet" href="./../../../public/css/styles.css">

    <!-- CDN styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CDN scripts -->
    <script src="https://kit.fontawesome.com/475ed1ea72.js" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    <script defer src="./../../../public/js/main.js"></script>
    <script defer src="./../../../public/js/views/job-form.js"></script>
</head>

<body class="relative bg-white">
    <!-- For screen reader accessibility -->
    <a href="#main-content" class="skip-to-main-link">Aller au contenu principal</a>

    <header>
        <nav
            class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="./../../../index.html" class="flex items-center space-x-3 rtl:space-x-reverse cursor-pointer">
                    <img src="./../../../public/images/mimon_logo.png" class="h-12" alt="Mimon logo">
                    <span
                        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-gray-700">Mimon</span>
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button type="button"
                        class="text-white bg-red transition-all hover:scale-[.99] hover:bg-rose-600 focus:ring-4 focus:outline-none font-medium rounded-full text-md px-4 py-3 text-center">
                        Connexion</button>
                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Ouvrir le menu principal</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul
                        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="./../../../index.html"
                                class=" block py-2 px-3 text-gray-700 transition-all  hover:text-red hover:bg-gray-100 rounded-full cursor-pointer"
                                aria-current="page"><i class="fa-regular fa-building min-w-[1.3rem] md:min-w-min"></i>
                                Accueil</a>
                        </li>
                        <li>
                            <a href="./career.html"
                                class="block py-2 px-3 text-gray-700 transition-all  hover:text-red hover:bg-gray-100 rounded-full cursor-pointer">
                                <i class=" fa-regular fa-comments min-w-[1.3rem] md:min-w-min"></i>
                                Carrière</a>
                        </li>
                        <li>
                            <a href="#main-content"
                                class="block py-2 px-3 text-red transition-all bg-gray-100 rounded-full cursor-pointer">
                                <i class="fa-regular fa-life-ring min-w-[1.3rem] md:min-w-min"></i>
                                Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="main-content">
        <section class="py-20 bg-gray-50">
            <div class="bg-gray-100 px-5 text-center py-20">
                <h1 class="text-4xl font-bold text-gray-900 w-full">Ingénieur Backend - Solutions</h1>
            </div>
            <div class="container mx-auto px-5 mt-20">
                <!-- About Mimon -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">À propos de Mimon</h2>
                    <p class="text-gray-700 font-light">
                        Mimon est une plateforme de innovante qui permet à des millions d'hôtes à travers le
                        monde de partager leurs
                        espaces uniques avec des voyageurs à la recherche d'expériences authentiques. Fondée en 2021,
                        Mimon s'est rapidement
                        imposée comme un acteur majeur du marché, offrant des solutions flexibles et personnalisées pour
                        les hôtes comme pour
                        les invités. Grâce à notre technologie de pointe et à notre engagement envers la communauté,
                        nous avons transformé la
                        manière dont les gens voyagent et interagissent avec le monde.
                    </p>
                </article>

                <!-- The Team You Will Join -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">L'équipe que vous rejoindrez</h2>
                    <p class="text-gray-700 font-light">
                        Vous rejoindrez une équipe Backend composée de professionnels extrêmement compétents, venant de
                        divers horizons et
                        possédant des bagages d'expériences riches et variés. Chaque membre de notre équipe a été
                        sélectionné pour son
                        expertise spécifique et sa capacité à innover dans un environnement dynamique. Chez Mimon, nous
                        croyons fermement
                        que la diversité de parcours et de compétences est la clé du succès.
                    </p>
                    <p class="text-gray-700 mt-4 font-light">
                        L'équipe Backend, chaleureuse et accueillante, est prête à partager ses connaissances et à vous
                        intégrer pleinement
                        dans ses projets. Vous travaillerez aux côtés de véritables experts dans leur domaine, qui sont
                        non seulement
                        passionnés par la technologie, mais aussi par la transmission de leur savoir. Vous aurez
                        également l'opportunité de
                        collaborer étroitement avec d'autres départements, notamment le Frontend, le design UX/UI, et
                        les équipes DevOps,
                        afin de créer des solutions complètes et innovantes qui répondent aux besoins de nos
                        utilisateurs à travers le
                        monde.
                    </p>
                </article>

                <!-- The Impact You Will Make -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">L'impact que vous aurez</h2>
                    <p class="text-gray-700 font-light mb-4">
                        En tant qu'Ingénieur Backend chez Mimon, vous jouerez un rôle clé dans la conception, le
                        développement,
                        et l'optimisation de nos systèmes backend. Vous serez en charge de créer des API robustes et
                        sécurisées,
                        de gérer des bases de données à grande échelle, et d'intégrer des services tiers pour améliorer
                        nos
                        produits. Vous travaillerez en étroite collaboration avec les ingénieurs Frontend, les designers
                        UX/UI,
                        et les spécialistes DevOps pour assurer que nos solutions répondent aux plus hauts standards de
                        qualité.
                    </p>
                    <h3 class="text-xl font-semibold text-gray-700 mb-2">Vos responsabilités quotidiennes incluent :
                    </h3>
                    <ul class="list-disc pl-6 text-gray-600 font-light">
                        <li>Développer des flux utilisateurs intuitifs pour assurer une expérience fluide et fiable pour
                            nos
                            clients.</li>
                        <li>Construire et améliorer les outils nécessaires pour gérer les interactions complexes au sein
                            de
                            notre écosystème technologique.</li>
                        <li>Développer et maintenir des pipelines de données robustes pour des connexions personnalisées
                            et
                            ciblées.</li>
                        <li>Optimiser les systèmes pour garantir la scalabilité et la performance dans un environnement
                            à haute
                            charge.</li>
                        <li>Collaborer étroitement avec les équipes produit, design, et data pour aligner les solutions
                            techniques avec les objectifs commerciaux.</li>
                    </ul>
                </article>

                <!-- Technologies We Use -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Technologies que nous utilisons</h2>
                    <p class="text-gray-700 font-light">
                        Chez Mimon, nous sommes fiers d'utiliser une stack technologique moderne et évolutive pour
                        garantir la
                        performance, la scalabilité et la fiabilité de nos systèmes. Voici quelques-unes des
                        technologies que vous
                        utiliserez en tant qu'Ingénieur Backend chez nous :
                    </p>
                    <ul class="list-disc pl-6 text-gray-700 mt-4 font-light">
                        <li>Laravel</li>
                        <li>Node.js (Nest.JS)</li>
                        <li>Golang</li>
                        <li>Docker & Kubernetes </li>
                        <li>Apache Kafka</li>
                        <li>Redis</li>
                        <li>Elasticsearch</li>
                        <li>Hadoop</li>
                        <li>Apache Cassandra</li>
                        <li>MySQL</li>
                        <li>Cassandra.</li>
                        <li>Prometheus et Grafana.</li>
                    </ul>
                </article>


                <!-- Your Expertise -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Votre expertise</h2>
                    <p class="text-gray-700 font-light mb-4">
                        Nous recherchons un ingénieur backend expérimenté, avec une passion pour le développement de
                        systèmes
                        performants et évolutifs. Vous devez avoir une solide compréhension des meilleures pratiques en
                        développement backend, ainsi qu'une expérience avec les technologies mentionnées ci-dessus.
                    </p>
                    <ul class="list-disc pl-6 text-gray-600 font-light">
                        <li>6+ ans d'expérience dans le développement backend, avec une maîtrise de Laravel, Golang, et
                            Node.js.
                        </li>
                        <li>Expérience dans la création et la maintenance d'APIs robustes et sécurisées.</li>
                        <li>Exposition à des architectures de logiciels à grande échelle, telles que des microservices,
                            des
                            pipelines de données à haut volume, et des systèmes distribués.</li>
                        <li>Compréhension approfondie des meilleures pratiques de sécurité, de performance, et de
                            scalabilité.
                        </li>
                        <li>Capacité à travailler en équipe et à collaborer avec des équipes multidisciplinaires.</li>
                        <li>Un esprit analytique avec une approche rigoureuse de la résolution de problèmes complexes.
                        </li>
                    </ul>
                </article>

                <!-- Benefits -->
                <article class="bg-white p-8 rounded-lg shadow-sm mb-8">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Avantages</h2>
                    <ul class="list-disc pl-6 text-gray-600 font-light">
                        <li>Chaises Harman Miller (Embody ou Aeron) envoyées par la poste pour les travailleurs à
                            distance
                        </li>
                        <li>MacBook Pro 16 pouces de dernière génération pour tous les employés</li>
                        <li>Salaire de départ à six chiffres</li>
                        <li>Possibilité de télétravail (à vous de choisir)</li>
                        <li>Bureaux modernes et chaleureux</li>
                        <li>Utilisation des dernières tendances technologiques et versions de chaque langage</li>
                        <li>Opportunités de formation continue</li>
                        <li>Fonds de retraite</li>
                        <li>Services de télémédecine</li>
                        <li>Cafétéria sur place avec repas sans allergènes pour les travailleurs au bureau</li>
                        <li>Assurances complètes</li>
                        <li>5 semaines de vacances dès l'embauche, pouvant atteindre jusqu'à 10 semaines</li>
                        <li>Congé parental d'un an avec 80% du salaire pour les hommes et les femmes</li>
                        <li>Coût des transports en commun couvert pour ceux qui travaillent au bureau</li>
                    </ul>
                </article>

                <!-- Apply Button -->
                <div class="text-center mt-16">
                    <button id="applyButton"
                        class="text-[17px] font-light border text-black border-black hover:bg-black hover:text-white hover:cursor-pointer py-2 pl-3 pr-3 rounded-full transition-all hover:scale-[.99]">
                        Postuler
                    </button>
                </div>
            </div>
        </section>


        <section>
            <!-- hidden form - Toggled by Javascript and eplaced by a success alert on submission -->
            <div class="container mx-auto px-5">
                <div id="applyForm" class="hidden my-12">
                    <form id="jobApplicationForm" class="bg-white p-8 rounded-lg shadow-md border-t border-t-gray-100"
                        novalidate>
                        <hgroup class="mb-8">
                            <h4 class="text-lg text-gray-700">A propos de vous</h4>
                            <p class="text-sm font-light text-gray-500">Quelques informations de bases</p>
                        </hgroup>
                        <div class="space-y-4">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <div>
                                    <div class="relative">
                                        <input type="text" id="firstName" name="firstName" autocomplete="given-name"
                                            class="block px-2.5 pb-2.5 pt-4 w-full text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:outline-none focus:ring-0 peer"
                                            placeholder=" ">
                                        <label for="firstName"
                                            class="absolute text-gray-500  duration-200 transform-translate-y-4 scale-75 -top-3 left-2 z-10 origin-[0] bg-white px-1 peer-focus:px-1 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:left-2 peer-focus:-translate-y-5">
                                            Prénom<sup class="text-red-400">*</sup></label>
                                    </div>
                                    <span class="text-red-500 text-sm font-light hidden" id="firstNameError"></span>
                                </div>

                                <div>
                                    <div class="relative">
                                        <input type="text" id="lastName" name="lastName" autocomplete="family-name"
                                            class="block px-2.5 pb-2.5 pt-4 w-full text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:outline-none focus:ring-0 peer"
                                            placeholder=" ">
                                        <label for="lastName"
                                            class="absolute text-gray-500  duration-200 transform-translate-y-4 scale-75 -top-3 left-2 z-10 origin-[0] bg-white px-1 peer-focus:px-1 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:left-2 peer-focus:-translate-y-5">
                                            Nom<sup class="text-red-400">*</sup></label>
                                    </div>
                                    <span class="text-red-500 text-sm font-light hidden" id="lastNameError"></span>
                                </div>

                            </div>

                            <div>
                                <div class="relative">
                                    <input type="email" id="email" name="email" autocomplete="email"
                                        class="block px-2.5 pb-2.5 pt-4 w-full text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:outline-none focus:ring-0 peer"
                                        placeholder=" ">
                                    <label for="email"
                                        class="absolute text-gray-500  duration-200 transform-translate-y-4 scale-75 -top-3 left-2 z-10 origin-[0] bg-white px-1 peer-focus:px-1 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:left-2 peer-focus:-translate-y-5">
                                        Courriel<sup class="text-red-400">*</sup></label>
                                </div>
                                <span class="text-red-500 text-sm font-light hidden" id="emailError"></span>
                            </div>

                            <div>
                                <div class="relative">
                                    <input type="tel" id="phone" name="phone" autocomplete="tel"
                                        class="block px-2.5 pb-2.5 pt-4 w-full text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:outline-none focus:ring-0 peer"
                                        placeholder=" ">
                                    <label for="phone"
                                        class="absolute text-gray-500 duration-200 transform-translate-y-4 scale-75 -top-3 left-2 z-10 origin-[0] bg-white px-1 peer-focus:px-1 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:left-2 peer-focus:-translate-y-5">
                                        Téléphone<sup class="text-red-400">*</sup></label>
                                </div>
                                <span class="text-red-500 text-sm font-light hidden" id="phoneError"></span>
                            </div>

                            <div>
                                <div class="relative">
                                    <input type="text" id="country" name="country" autocomplete="country"
                                        class="block px-2.5 pb-2.5 pt-4 w-full text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:outline-none focus:ring-0 peer"
                                        placeholder=" ">
                                    <label for="country"
                                        class="absolute text-gray-500  duration-200 transform-translate-y-4 scale-75 -top-3 left-2 z-10 origin-[0] bg-white px-1 peer-focus:px-1 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:left-2 peer-focus:-translate-y-5">
                                        Pays de résidence<sup class="text-red-400">*</sup></label>
                                </div>
                                <span class="text-red-500 text-sm font-light hidden" id="countryError"></span>
                            </div>
                        </div>

                        <!-- separation between info and files -->
                        <div class="mx-auto py-12">
                            <hr class="w-3/4 md:w-1/2 mx-auto">
                        </div>

                        <hgroup class="mb-8">
                            <h4 class="text-lg text-gray-700">Documents requis</h4>
                            <p class="text-sm font-light text-gray-500">Pour mieux vous connaitre</p>
                        </hgroup>

                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                            <!-- CV Upload -->
                            <div class="w-full mx-auto">
                                <label class="text-base text-gray-500 font-semibold mb-2 block ml-1" for="resume">CV
                                    <span class="text-sm text-gray-500 font-light">(PDF, DOC, DOCX et TXT)<sup
                                            class="text-red-400">*</sup></span></label>
                                <div id="resumeUploadDropzone"
                                    class="dropzone flex items-center justify-center w-full border-2 border-dashed border-gray-300 rounded-lg p-4 bg-gray-50 cursor-pointer">
                                    <i class="fa-solid fa-cloud-arrow-up mr-2"></i>
                                    <span id="resumeFilename" class="text-gray-400">Glissez et déposez votre CV ici ou
                                        cliquez pour
                                        sélectionner un fichier</span>
                                </div>
                                <input type="file" id="resume" name="resume" class="hidden"
                                    accept=".pdf,.doc,.docx,.txt">
                                <span class="text-red-500 text-sm font-light hidden" id="resumeError"></span>
                            </div>

                            <!-- Motivation Letter Upload -->
                            <div class="w-full mx-auto mt-4 md:mt-0">
                                <label class="text-base text-gray-500 font-semibold mb-2 block ml-1"
                                    for="motivationLetter">Lettre de motivation
                                    <span class="text-sm text-gray-500 font-light">(PDF, DOC, DOCX et TXT)<sup
                                            class="text-red-400">*</sup></span></label>
                                <div id="motivationLetterUploadDropzone"
                                    class="dropzone flex items-center justify-center w-full border-2 border-dashed border-gray-300 rounded-lg p-4 bg-gray-50 cursor-pointer">
                                    <i class="fa-solid fa-cloud-arrow-up mr-2"></i>
                                    <span id="motivationLetterFilename" class="text-gray-400">Glissez et déposez votre
                                        lettre
                                        ici ou cliquez pour
                                        sélectionner un fichier</span>
                                </div>
                                <input type="file" id="motivationLetter" name="motivationLetter" class="hidden"
                                    accept=".pdf,.doc,.docx,.txt">
                                <span class="text-red-500 text-sm font-light hidden" id="motivationLetterError"></span>
                            </div>
                        </div>

                        <!-- separation between info and files -->
                        <div class="mx-auto py-12">
                            <hr class="w-3/4 md:w-1/2 mx-auto">
                        </div>

                        <hgroup class="mb-8">
                            <h4 class="text-lg text-gray-700">Conditions</h4>
                            <p class="text-sm font-light text-gray-500">Gestion de vos informations personnels</p>
                        </hgroup>

                        <div
                            class="max-h-52 overflow-y-auto p-4 border border-gray-300 rounded-lg text-gray-700 font-light">
                            <p>
                                En soumettant votre candidature, vous acceptez que toutes les informations fournies,
                                y compris votre CV,
                                soient conservées en interne pour une période de six mois. Durant cette période,
                                nous nous réservons le
                                droit
                                de vous contacter pour des opportunités d'emploi similaires ou au sein du même
                                département, même si elles ne
                                correspondent pas spécifiquement au poste pour lequel vous avez postulé.
                            </p>
                            <p class="mt-4">
                                Sachez que vos données ne seront en aucun cas partagées avec des tiers ni utilisées
                                à des fins de promotion,
                                de divulgation ou autres activités non liées au recrutement. Si vous souhaitez que
                                vos informations soient
                                supprimées de nos dossiers avant la fin de la période de conservation, vous pouvez
                                en faire la demande en
                                nous écrivant à <a href="mailto:hr-privacy@mimon.com"
                                    class="hover:underline cursor-pointer">hr-privacy@mimon.com</a>. Nous nous
                                engageons à traiter votre demande de
                                suppression dans un délai
                                de
                                30 jours suivant sa réception.
                            </p>
                        </div>

                        <div>
                            <div class="flex items-center mt-8">
                                <input id="terms" name="terms" type="checkbox" value="1"
                                    class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded-md focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="terms"
                                    class="ms-2 text-sm font-light text-gray-900 dark:text-gray-300">J'accepte
                                    les
                                    <a href="#" class="text-blue-600">conditions d'utilisation</a>
                                    et la
                                    <a href="#" class="text-blue-600">politique de confidentialité</a> de Mimon.<sup
                                        class="text-red-400">*</sup></label>
                            </div>
                            <span class="text-red-500 text-sm font-light hidden" id="termsError"></span>
                        </div>

                        <button id="sendApplication"
                            class="mt-12 text-[17px] font-light border bg-red text-white hover:cursor-pointer py-2 pl-3 pr-3 rounded-full transition-all hover:scale-[.99]">
                            Soumettre
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-slate-100 dark:bg-gray-900">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-16">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="./../../../index.html" class="flex items-center">
                        <img src="./../../../public/images/mimon_logo.png" class="h-12 me-3" alt="Logo Mimon">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-700">Mimon</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Ressources</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="./career.html"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">
                                    Carrière</a>
                            </li>
                            <li>
                                <a href="./support.html"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">Centre
                                    d'aide</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Suivez-nous</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="https://facebook.com" target="_blank" rel="noopener"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">Facebook</a>
                            </li>
                            <li>
                                <a href="https://x.com/?lang=fr" target="_blank" rel="noopener"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Légal</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">Politique
                                    de
                                    confidentialité</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">Termes
                                    et
                                    conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white lg:text-center">
                            Téléchargements
                        </h2>
                        <ul
                            class="text-gray-500 dark:text-gray-400 font-medium flex flex-col lg:justify-center lg:items-center">
                            <li class="mb-4 block">
                                <a href="https://www.apple.com/ca/app-store/" target="_blank" rel="noopener"
                                    class="cursor-pointer">
                                    <img src="./../../../public/images/download_apple_store_dark_fr_CA.svg"
                                        class="w-[140px]" alt="Télécharger sur l'apple store">
                                </a>
                            </li>
                            <li class="mb-4 block">
                                <a href="https://play.google.com/store/games?hl=en&pli=1" target="_blank" rel="noopener"
                                    class="cursor-pointer">
                                    <img src="./../../../public/images/download_google_store_dark_fr_CA.png"
                                        alt="Télécharger sur le Google store" class="w-[140px]">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
            <div class="grid grid-cols-12">
                <span class="text-sm text-start text-gray-500 dark:text-gray-400 col-span-10">© 2024 Mimon - Tous
                    droits
                    réservés.
                </span>
                <div class="flex justify-end items-center col-span-2 mr-2 lg:mr-6">
                    <a href="https://facebook.com" target="_blank" rel="noopener"
                        class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Page Facebook</span>
                    </a>
                    <a href="https://x.com/?lang=fr" target="_blank" rel="noopener"
                        class="text-gray-500 hover:text-gray-900 hover:cursor-pointer hover:underline">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Page Twitter</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>