@use './../abstracts/variables' as var;

.skip-to-main-link {
    position: absolute;
    top: -5000px;
    left: 0;
    color: var.$black;
    z-index: 100;
    padding: 10px;

    &:focus {
        position: fixed;
        top: 1px;
        left: 1px;
    }
}