.rotatating-text {
    &-container {
        font-weight: bold;
        width: 100%;
        display: block;
    }

    &__list {
        /* height + padding */
        height: 100px;
        overflow: hidden;

        @media (min-width: 768px) {
            height: 113px;
        }


        &-item {
            color: white;
            height: 120px;
            margin-bottom: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: min-content;

            &--animatate {
                animation: show 10s ease-in-out infinite;
            }

            &--bg-green {
                color: #22c179;
            }

            &--bg-blue {
                color: #2775f3;
            }

            &--bg-red {
                color: #ef3b5d;
            }
        }
    }
}


/* (height inner box + padding) * item count*/
@keyframes show {
    0% {
        margin-top: -776.46px;
    }

    5% {
        margin-top: -517.64px;
    }

    33% {
        margin-top: -517.64px;
    }

    38% {
        margin-top: -258.82px;
    }

    66% {
        margin-top: -258.82px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}