<div class="max-w-4xl mx-auto mt-8">
    <div class="bg-green-50 border-l-4 border-green-500 p-6 rounded-lg shadow-md">
        <i class="fa-solid fa-circle-check fa-lg text-green-500 mr-2"></i>
        <span class="text-green-800 font-semibold text-lg">Candidature bien reçue !</span>
        <div class="mt-4 text-green-700">
            <p>Nous avons bien reçu votre candidature et nous vous remercions de l'intérêt que
                vous portez à notre
                entreprise.</p>
            <p class="mt-2">Nous prenons normalement jusqu'à 14 jours ouvrables pour traiter les
                candidatures. Seuls les
                candidats retenus seront contactés. Veuillez vérifier vos messages indésirables
                dans les jours à venir.
            </p>
            <p class="mt-2">Il ne sert à rien de postuler plusieurs fois pour le même poste. Si
                vous n'avez pas reçu de
                message de notre part, vous pourrez repostuler dans les 6 mois suivants.</p>
        </div>
    </div>
</div>